<!DOCTYPE html>
<html>
<head>
  <title>Calendário</title>
</head>
<body>
  <h1>Calendário</h1>
  <h2>Todos os Agendamentos</h2>
  <form action="/api/agendamento/list" method="GET">
    <button type="submit">Listar</button>
  </form>
  <h2>Agendamento por ID</h2>
  <form action="/api/agendamento" method="GET">
    <label for="id">ID Agendamento:</label>
    <input type="number" id="id" name="id" required>
    <button type="submit">Buscar</button>
  </form>
  <nav>
    <a href="/">Welcome</a> |
    <a href="/myroutine">Minha Rotina</a> |
    <a href="/agenda">Agenda</a> |
    <a href="/atividades">Atividades</a> |
    <a href="/register">Criar Conta</a>
  </nav>
</body>
</html>